#!/bin/bash
{#
SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
SPDX-License-Identifier: Apache-2.0
#}
export AIC_SLURM_IMAGE={{ cfg.container_image | shellquote }}
export AIC_SLURM_MOUNTS={{ mounts | shellquote }}
